#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    border-bottom: solid 1px black;
    background-color: #efefef;
    padding: 10px;
    margin-bottom: 15px;
}

h1 {
    font-family: Impact;
    font-style: italic;
    font-size: 32px;
}

button {
    border: solid 1px black;
    background-color: #ccc;
    padding: 5px 15px;
}

#game {
    text-align:center;
    border: solid 2px black;
}

#footer > button {
    width: 150px;
}

.row {
    display: flex;
}

.cell {
    width: 10px;
    height: 10px;
    border: 1px solid #ccc;
    border-collapse: collapse;
}

.cell.alive {
    background-color: darkgreen;
}
